body {
  padding: 50px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  padding: 12px;
  text-align: left;
  font-size: 14px;
}

table th {
  background-color: #eee;
  border-bottom: solid 2px #aaa;
}
table td {
  border-bottom: solid 1px #aaa;
}

table tr td:last-child {
  width: 80px;
}